<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610672394069-kapvf8fai4hh3s8q3a3o53j3p7m8gm5j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610672394069-kapvf8fai4hh3s8q3a3o53j3p7m8gm5j</string>
	<key>API_KEY</key>
	<string>AIzaSyD8yYimHvndbRoPovrd89iwWZo7tooSbsE</string>
	<key>GCM_SENDER_ID</key>
	<string>610672394069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.naturePhotos</string>
	<key>PROJECT_ID</key>
	<string>flutter-nature-photos</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-nature-photos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610672394069:ios:4499da24a19451129979dc</string>
</dict>
</plist>