<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>610672394069-nivctm83b41cogiitks1fru54fmjik8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.610672394069-nivctm83b41cogiitks1fru54fmjik8j</string>
	<key>API_KEY</key>
	<string>AIzaSyD8yYimHvndbRoPovrd89iwWZo7tooSbsE</string>
	<key>GCM_SENDER_ID</key>
	<string>610672394069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.naturePhotos.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-nature-photos</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-nature-photos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:610672394069:ios:e07130dea9609aaa9979dc</string>
</dict>
</plist>